body {
background: url(https://raw.githubusercontent.com/codefellows/seattle-201d34/master/06-dom-objects-domain-modeling/lab/assets/salmon.png);
font-family: 'Open Sans';
}


h1 {
  background: black;
  

}

table{
  margin: auto;

}
main{
  background: rgb(216, 208, 208);
  width: 50%;
  color: oldlace;
}

td {
  padding: 10px;
  border: solid black;
  text-align: center;
  color: darkred;
  background-color: white;
}