body {
background: url(https://raw.githubusercontent.com/codefellows/seattle-201d34/master/06-dom-objects-domain-modeling/lab/assets/salmon.png);
font-family: 'Open Sans';
}


h1 {
  background: black;
}

main{
  background: whitesmoke;
  width: 50%;
  color: rgb(154, 118, 52);
}