body {
background-color: papayawhip;
font-family: 'Open Sans';
}

title{

text-align: center;

}

h1 {
  background: papayawhip;
  border-right-width: 30px;
  text-align: center;
  font-size: 40px;
  

}
p{
text-align: center;
}

table{
  margin: auto;

}
main{
  background: rgb(216, 208, 208);
  width: 50%;
  color: oldlace;
}

td {
  padding: 10px;
  border: solid black;
  text-align: center;
  color: darkred;
  background-color: white;
}

img{                      
display: block;
margin: auto;
width: 400px;

}

img:hover {
 -webkit-transform: scaleX(-1);
    transform: scaleX(-1); 
}
span{
  max-width: 100px;
  margin: auto;
 
}

ul{
  padding: 40px;
  background-color: salmon;
  width: 50px;
  border-radius: 10px;
  font-size: 13px;
  display: inline-block;
 



}
/* #storediv{
  max-width: auto;
  margin: auto;
} */



